<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
    <properties resource="configuration.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
                   
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>

        </environment>
    </environments>    
    <mappers>
        <mapper resource="common/mappers/MapperUsuarios.xml"/>
        <mapper resource="almacen/tasks/mappers/MapperTaskAlmacenRetrieve.xml"/>
        <mapper resource="almacen/tasks/mappers/MapperTaskAlmacenUpdate.xml"/>
        <mapper resource="common/mappers/MapperEstadoEvento.xml"/>
        <mapper resource="common/mappers/MapperTipoEvento.xml"/>
        <mapper resource="almacen/deliveryReports/mappers/MapperTaskChoferDelivery.xml"/>
        <mapper resource="almacen/deliveryReports/mappers/MapperTaskChoferDeliveryUpdate.xml"/>
        <mapper resource="almacen/events/mappers/MapperEvents.xml"/>
        <mapper resource="common/mappers/MapperArticulos.xml"/>
    </mappers>
    
    
</configuration>
